@charset "utf-8";
/* CSS Document */


body{
	background-color: aliceblue;
}
.main-container{
	
	padding: 10px;
}

.card{
	background-color:aquamarine
}


.col-6{
	background-color:aliceblue;
}

footer{
	background-color: grey;
	height: 50px;
	padding: 5px 10px 4px 15px;
	text-align: end
}

h1{
	padding-left: 10px;
}

p{
	padding-left: 10px;
}

h5{
	padding-left: 10px;
}

.csgo{
	padding-top: 5px;
}

.fifa{
	padding-top: 5px;
}